html{
    background-color: #0D1418;
}

*{
    font-family: 'Baloo 2', cursive;
    overflow: hidden;
}

.logo {
    float:left;
}

.c2{
    background-color: #f1f1f1;
    height: 116vh;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/* Card Post*/
.card{
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.198);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #3B4044;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 28px;
}

.textnav{
    float: right;  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #74a8b4;
  color: white;
  width: 8rem;
  height: 28px;
  font-family: 'Leckerli One', cursive;
  font-size: 100%;
  text-shadow: rgb(81, 112, 121) 1px 1px 1px;
  
  
}

.mh{
    font-family: 'Leckerli One', cursive;
    font-size: 100%;
    text-shadow: rgb(88, 122, 131) 1px 1px 1px;
    margin-top: -7px;
}


/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: auto;
    padding-top: rem;
    padding-left: 1rem;
}
  
.c1{
    height: 108%;
    overflow: hidden;
}
  /* Sidebar links */
.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}
  
/* Active/current link */
.sidebar a.active {
    background-color: #9b20ccd2;
    color: white;
}
  
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #ddd;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
    margin-left: 200px;
    padding: 1px 16px;
}
  
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}
  
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}

/*TEMAS, UPLOAD- POSTAGEM*/
.temas{
    margin-top: 30px;
}
input[type="file"] { 
    display: none; 
 }
 
.label-bordered {
    margin-top: 12px;
    border: 1px solid #727272;
    padding: 10px;
    border-radius: 5px;
}

/*Curtir*/

/*#botao {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/df/Facebook_logo_thumbs_up_like_transparent_SVG.svg);
    background-color: #e7e9f1;
    color: #385596;
    background-size: 50px;
    background-position: 20px 25%;
    background-repeat: no-repeat;
    width: 200px;
    height: 59px;
    font-size: 20px;
    border: 1px solid #a8b4c9;
    text-align: center;
    text-indent: 32px;
}*/

/*DENTRO DO EDIT POST*/
.file{
    float: left;
    margin-top: 10px;
}

.temas1{
    margin-top: 20px;
}


/*POSTAGEM*/
.post{
    background-color: #3B4044;
    width: 60vw;
    height: 17rem;
    margin-top: 211px;
    margin-left: 16rem;
    border-radius: 5px;
}

#post1{
    background-color: #74A8B4;
}

/*IMAGEM PERFIL POSTAGEM*/
.posic{
    border: 10rem;
    padding: 0.6rem 0rem 0.2rem 0.1rem;
    margin-top: 1.2rem;
    margin-left: 1rem;
}

.circlePerfil {
    float: left;
    background-color: #aaa;
    border-radius: 50%;
    width: 5%;
    height: 5%;
    overflow: hidden;
    position: relative;
}
  
.circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*@media only screen and (max-width: 700px) {
    .circlePerfil{
        float: left;
        background-color: #aaa;
        border-radius: 50%;
        width: 7%;
        height: 7%;
        overflow: hidden;
        position: relative;
    }
}*/
/*NICKNAME*/
#nick{
    color: #ffffff;
    font-family: 'Lucida Sans';
    margin-top: 1rem;
    margin-left: 4rem;
}

/*Hr User*/
#hrUser{
    margin-top: 1.9rem;
    border-color: transparent;
    box-shadow: 3px 4px 4px black;
}


/*Time Post*/
#timePost{
    margin-top: 1rem;
    color: rgb(209, 209, 209);
}