html{
    background-color: #0D1418;
}

*{
    font-family: 'Baloo 2', cursive;
}

.logo {
    float:left;
}

.c2{
    background-color: #f1f1f1;
    height: 116vh;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/* Card Post*/
.card{
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.198);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #3B4044;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 28px;
}

.textnav{
    float: right;  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #74a8b4;
  color: white;
  width: 8rem;
  height: 28px;
  font-family: 'Leckerli One', cursive;
  font-size: 100%;
  text-shadow: rgb(81, 112, 121) 1px 1px 1px;
  
  
}

.mh{
    font-family: 'Leckerli One', cursive;
    font-size: 100%;
    text-shadow: rgb(88, 122, 131) 1px 1px 1px;
    margin-top: -7px;
}


/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: auto;
    padding-top: rem;
    padding-left: 1rem;
}
  
.c1{
    height: 15rem;
    overflow: hidden;
}
  /* Sidebar links */
.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}
  
/* Active/current link */
.sidebar a.active {
    background-color: #9b20ccd2;
    color: white;
}
  
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #ddd;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
    margin-left: 200px;
    padding: 1px 16px;
}
  
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}
  
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}

/*TEMAS, UPLOAD- POSTAGEM*/
.temas{
    margin-top: 30px;
}
input[type="file"] { 
    display: none; 
 }
 
.label-bordered {
    margin-top: 12px;
    border: 1px solid #727272;
    padding: 10px;
    border-radius: 5px;
}

/*DENTRO DO EDIT POST*/
.file{
    float: left;
    margin-top: 10px;
}

.temas1{
    margin-top: 20px;
}


/*POSTAGEM*/
.post{
    background: linear-gradient(to bottom, #3b4044 0%, #53595f 100%);
    width: 60vw;
    height: relative;
    margin-top: 1rem;
    margin-left: 16rem;
    border-radius: 5px;
}

#post1{
    background: linear-gradient(to right, #74a8b4 0%, #7fc1cf 100%);
}

/*IMAGEM PERFIL POSTAGEM*/
.posic{
    border: 10rem;
    padding: 0.6rem 0rem 0.2rem 0.1rem;
    margin-left: 1rem;
}

.circlePerfil {
    float: left;
    background-color: #aaa;
    border-radius: 50%;
    width: 3.1rem;
    height: 3.1rem;
    overflow: hidden;
    position: relative;
}
  
.circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.conteudoPost{
    margin-bottom: 0.5rem;
    color:#f6f5f5;
    text-align: justify;
}

/*NICKNAME*/
#nick{
    color: #ffffff;
    font-size: 20px;
    margin-left: 4rem;
}

#nickDesc{
    color: #ebebeb;
    font-size: 14px;
    margin-left: 4rem;
}

/*Hr User*/
#hrUser{
    margin-bottom: 0.1rem;
    border-color: transparent;
    box-shadow: 3px 4px 4px black;
}


/*Time Post*/
#timePost{
    margin: 0.3rem;
    margin-right: 1.5rem;
    color: rgb(209, 209, 209);
}

/*Alinhamento*/
.alinha{
    margin: 1rem;
    padding-bottom: 1.2rem;
}

.titulo{
    color: #94d5e4;
}

/*TEMAS*/
#TemaP{
    margin-top: 0.9rem;
    font-size: 13px;
}

.badge{
    margin-right: 0.6rem;
    padding: 0.03rem 0.5rem;
    border-radius: 10px;
    border-color: black;
    background-color: #94d5e4;
    box-shadow: 1px 1px 1px black;
}

/*BOTOES DE INTERAÇÃO*/

.botoes{
    margin-bottom: 1rem;
}

.buttonL{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 0.1rem 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 4px #36383a;
    height: 2.6rem;
}

.buttonL:hover{
    background-color: #dddddd;
    border: none;
    color: #008CBA;
    font-weight: bold;
    padding: 0.1rem 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #2e3031;
    height: 2.6rem;
}

.qtdLikes{
    margin-top: -350px;
}

ul {
    list-style: none;
    display:inline-block;
}

.botoes img{
    width: 1.5rem;
}

#comment {
    margin-top: 5px;
}

/*NEW POST*/

.NewPost{
    background: linear-gradient(to bottom, #3b4044 0%, #53595f 100%);
    width: 60vw;
    height: relative;
    margin-top: 1.2rem;
    margin-left: 16rem;
    border-radius: 5px;
}

#NewP1{
    background: linear-gradient(to right, #74a8b4 0%, #7fc1cf 100%);
}

/*Texto*/

.textP{
    padding: 1rem;
    color: #f2f2f2;
   
}

/*HR - DIVISA POST*/
    
#divisao{
    margin-top: 1.2rem;
    margin-left: 25.9rem;
    width: 40rem;
    opacity: 0.8;
    box-shadow: 2px 2px 2px rgb(50, 164, 184);
}

/*TITULO - NEW POST*/

.form-control{
    width: 100%;
    border-radius: 5px;
    border: 3px solid #3B4044;   
    background-color: #CCCCCC;
    
}

/*Enviar Arquivos*/
.form-group{
    margin-bottom: 1.3rem;
    color: white;
}
.control-label{
    border: none;
    background-color: #008CBA;
    font-weight: bold;
    box-shadow: 2px 2px 4px #36383a;

}
.control-label:hover{
    border:none;
    background-color: #dddddd;
    color: #008CBA;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #2e3031;
}
/*Anexo Img - Enviar Arquivos*/
#anexoImg{
    width: 3rem;
    height: 3rem;
}

/*TEMAS*/
.temas{
    margin-top: 1rem;
    margin-bottom: 1.7rem;
}

/*Privacidade*/

.privacidade{
    float:right;
}
#enviar{
    margin-top: 2rem;
    padding:0.1rem 0.2rem;
}
#anexar{
    padding:0.3rem;
}

.comentarios{
    color:white;
    margin-top: 10px;
}

#genero {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #CCCCCC;
    padding-left:5px;
    width: 120px;
    border-radius: 5px;
}

#privac {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #CCCCCC;
    padding-left:5px;
    width: 72px;
    border-radius: 5px;
}

option{
    background-color: #a5a5a5;
}